/* =========== Projects ==========*/
.projects {
  min-width: 100%;
  margin: auto;
}

/* =========== Projects image container ==========*/
.project_img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =========== Projects image ==========*/
.project_img {
  width: 37rem;
}

/* =========== Card effect ==========*/
.wrapper {
  width: 100%;
  margin-top: 2.813rem;
  height: 33rem;
  overflow-y: scroll;
}
.card {
  height: auto;
  width: 85%;
  margin: 50px auto;
  border-radius: 22px;
  background: transparent;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .card {
    width: 90%;
    border-radius: 10px;
  }
}
.card .project_img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.project_descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  clip-path: circle(0% at 100% 100%);
}
.card:hover .project_descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.card:hover .project_img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card h5 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Overpass';
  font-weight: 600;
}
.project_description_text {
  font-family: 'Nunito';
  font-size: 0.9rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70%;
}
.flex_fix {
  display: grid;
  align-content: center;
}
@media only screen and (max-width: 600px) {
  .project_description_text {
    display: none;
  }
}
.project_links {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project_links a {
  transition: all 0.3s ease;
  transform: scale(1.9);
  margin: 8px 15px;
  padding: 5px;
}
.project_links a:hover {
  transform: scale(2.1);
}
.project_links a i {
  color: #353839;
}
@media only screen and (max-width: 600px) {
  .project_links a {
    transform: scale(1.4);
    margin: 8px 10px;
  }
  .project_links a:hover {
    transform: scale(1.8);
  }
}
