.skills_container {
  padding: 0 20px 20px 20px;
  width: 100%;
  margin: 2.813rem auto 0 auto;
  height: 33rem;
  overflow-y: scroll;
}
.skills_tools {
  margin-top: 4rem;
}

.skills_language_body {
  margin: 0 1.5rem;
}
@media only screen and (max-width: 1000px) {
  .skills_language_body {
    margin: 0 0.5rem;
  }
}

.skills_language_heading {
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Overpass';
  font-weight: 600;
  color: var(--white);
  width: fit-content;
  margin: 0 auto 30px auto;
  padding: 7px 15px 5px 15px;
  border-radius: 10px;
  background-color: var(--darkColor);
}

.bar {
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  margin-bottom: 12px;
  margin-left: -5px;
}

.bar_icon {
  width: 15px;
  height: 15px;
}

.bar_wrapper {
  background-color: var(--darkColor);
  border-radius: 20px;
  margin-top: 10px;
  padding: 4px 14px;
  color: var(--white);
  font-size: 0.9rem;
}

.bar_name {
  margin-left: 10px;
}
