@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* ========== Root =========== */
:root {
  --white: #fafafa;
  --black: #333333;
  --lightColor: #3edbf0;
  --darkColor: #13b4e0;
  --color_1: rgba(255, 255, 255, 0.25);
  --color_2: rgba(255, 255, 255, 0.5);
  --color_3: rgba(255, 255, 255, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-image: linear-gradient(to right bottom, var(--darkColor), var(--lightColor));
}

/* ========== Main =========== */
.main {
  min-height: 100vh;
  background: linear-gradient(to right top, var(--darkColor), var(--lightColor));
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========== Glass =========== */
.glass {
  background: var(--white);
  min-height: 90vh;
  width: 65%;
  background: linear-gradient(to right bottom, var(--color_1), var(--color_1));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(1.2rem);
  margin: 1.25rem;
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .glass {
    flex-direction: column;
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .glass {
    width: 90%;
  }
}

/* ========== All circles =========== */
.circle1,
.circle2,
.circle3,
.circle4 {
  background: var(--white);
  height: 15rem;
  width: 15rem;
  background: linear-gradient(to right bottom, var(--color_2), var(--color_1));
  position: absolute;
  z-index: 2;
  border-radius: 50%;
}

.circle1 {
  top: 2%;
  right: 10%;
}

.circle2 {
  bottom: 2%;
  left: 9.5%;
}

.circle3 {
  top: 15%;
  left: 5%;
  height: 8rem;
  width: 8rem;
  opacity: 0.5;
  background: linear-gradient(to left top, var(--color_3), var(--color_2));
}

.circle4 {
  bottom: 15%;
  right: 5%;
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
  background: linear-gradient(to right top, var(--color_3), var(--color_2));
}
@media only screen and (max-width: 600px) {
  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    display: none;
  }
}

/* ========== Sidebar =========== */
.sidebar {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(to right bottom, var(--color_1), var(--color_1));
  border-radius: 2rem;
  max-width: 1200px;
}
@media only screen and (max-width: 1000px) {
  .sidebar {
    padding: 0.7rem;
  }
}
@media only screen and (max-width: 1200px) {
  .sidebar {
    padding: 1.2rem;
  }
}

/* ========== Content =========== */
.content {
  flex: 2.1;
  display: flex;
  flex-direction: column;
  padding-bottom: 4.35rem;
}
